@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'whirly_birdieregular';
    src: url('../fonts/whirly_birdie-webfont.woff2') format('woff2'),
         url('../fonts/whirly_birdie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'pilsnerregular';
    src: url('../fonts/pilsner-regular-webfont.woff2') format('woff2'),
         url('../fonts/pilsner-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;    }

@font-face {
    font-family: 'burgeryregular';
    src: url('../fonts/burgery-webfont.woff2') format('woff2'),
         url('../fonts/burgery-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'foxandbear';
    src: url('../fonts/foxandbear-regular-webfont.woff2') format('woff2'),
         url('../fonts/foxandbear-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
