@charset "utf-8";
/* CSS Document */

.rob-grid1,
.rob-grid1-1,
.rob-grid1-2,
.rob-grid1-4,
.rob-grid3-4,
.rob-grid1-5,
.rob-grid2-5,
.rob-grid3-5,
.rob-grid4-5,
.rob-grid1-10,
.rob-grid3-10,
.rob-grid7-10,
.rob-grid9-10,
.rob-grid1-20,
.rob-grid2-20,
.rob-grid3-20,
.rob-grid4-20,
.rob-grid5-20,
.rob-grid6-20,
.rob-grid7-20,
.rob-grid8-20,
.rob-grid9-20,
.rob-grid10-20,
.rob-grid11-20,
.rob-grid12-20,
.rob-grid13-20,
.rob-grid14-20,
.rob-grid15-20,
.rob-grid16-20,
.rob-grid17-20,
.rob-grid18-20,
.rob-grid19-20,
.rob-grid20-20,
.rob-grid1-3,
.rob-grid2-3 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
	width:100%;
}

/* 768PX - 1023PX */
@media all and (min-width:768px) {
.rob-grid1-2,
.rob-grid1-3,
.rob-grid2-3
.rob-grid1-4,
.rob-grid3-4,
.rob-grid1-5,
.rob-grid2-5,
.rob-grid3-5,
.rob-grid4-5,
.rob-grid1-10,
.rob-grid3-10,
.rob-grid7-10,
.rob-grid9-10,
.rob-grid1-20,
.rob-grid2-20,
.rob-grid3-20,
.rob-grid4-20,
.rob-grid5-20,
.rob-grid6-20,
.rob-grid7-20,
.rob-grid8-20,
.rob-grid9-20,
.rob-grid10-20,
.rob-grid11-20,
.rob-grid12-20,
.rob-grid13-20,
.rob-grid14-20,
.rob-grid15-20,
.rob-grid16-20,
.rob-grid17-20,
.rob-grid18-20,
.rob-grid19-20 {
	width:50%;
	*width: 49.9690%;
}
}

/* 1024PX - 1299PX */
@media all and (min-width:1024px) {
.rob-grid1-3 {
	width:33.3333%;
	*width:33.3331%;
}
.rob-grid2-3 {
	width:66.6666%;
	*width:66.6665%;
}
.rob-grid1-20 {
    width: 5%;
    *width: 4.9690%;
}

.rob-grid1-10,
.rob-grid2-20 {
    width: 10%;
    *width: 9.9690%;
}

.rob-grid3-20 {
    width: 15%;
    *width: 14.9690%;
}

.rob-grid1-5,
.rob-grid4-20 {
    width: 20%;
    *width: 19.9690%;
}

.rob-grid1-4,
.rob-grid5-20 {
    width: 25%;
    *width: 24.9690%;
}

.rob-grid3-10,
.rob-grid6-20 {
    width: 30%;
    *width: 29.9690%;
}

.rob-grid7-20 {
    width: 35%;
    *width: 34.9690%;
}

.rob-grid2-5,
.rob-grid8-20 {
    width: 40%;
    *width: 39.9690%;
}

.rob-grid9-20 {
    width: 45%;
    *width: 44.9690%;
}

.rob-grid1-2,
.rob-grid10-20 {
    width: 50%;
    *width: 49.9690%;
}

.rob-grid11-20 {
    width: 55.0000%;
    *width: 54.9690%;
}

.rob-grid3-5,
.rob-grid12-20 {
    width: 60%;
    *width: 59.9690%;
}

.rob-grid13-20 {
    width: 65%;
    *width: 64.9690%;
}

.rob-grid7-10,
.rob-grid14-20 {
    width: 70%;
    *width: 69.9690%;
}

.rob-grid3-4,
.rob-grid15-20 {
    width: 75%;
    *width: 74.9690%;
}

.rob-grid4-5,
.rob-grid16-20 {
    width: 80%;
    *width: 79.9690%;
}

.rob-grid17-20 {
    width: 85%;
    *width: 84.9690%;
}

.rob-grid9-10,
.rob-grid18-20 {
    width: 90%;
    *width: 89.9690%;
}

.rob-grid19-20 {
    width: 95%;
    *width: 94.9690%;
}

.rob-grid1,
.rob-grid1-1,
.rob-grid20-20 {
    width: 100%;
}
}