@charset "utf-8";
/* CSS Document */

/*Theme: Robonster
Description: My personal website focusing on my work as a User Experience and Visual Designer

Author: Brandon Biro
*/

/* RESETS - NORMALIZE */
/* ================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, rem, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, canvas, progress, picture {margin: 0; padding: 0; border: 0; vertical-align: baseline;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em, rem, img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border:0;margin:0;padding:0}

article,aside,details,figure,figure img,picture,figcaption,hgroup,footer,header,main,menu,nav,section,summary,video,object{display:block}

/* 1. Correct `inline-block` display not defined in IE 8/9.
   2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio,canvas,progress,video {display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */}
canvas {display: block;}

/* Prevent modern browsers from displaying `audio` without controls.
   Remove excess height in iOS 5 devices. */
audio:not([controls]) {display: none; height: 0;}

/* Address `[hidden]` styling not present in IE 8/9/10.
   Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22 */
[hidden],template {display: none;}

/* TEXT LEVEL SEMANTICS */
/* ==================== */

/* Address styling not present in Safari and Chrome */
dfn {font-style: italic;}

/* Address styling not present in IE 8/9 */
mark {background: #ff0; color: #000;}

button, select {text-transform: none;}

figure, picture {margin: 0 auto; position:relative;}
figure img, picture img {width:100%;}
figcaption, .caption {font-size: .875rem; text-align:left; padding:.5rem; position: relative;}
pre {overflow:auto;}

/* FORMS */
/* ===== */

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls
   2. Correct inability to style clickable `input` types in iOS
   3. Improve usability and consistency of cursor style between image-type `input` and others */
button, [type="button"], /* 1 */ [type="reset"], [type="submit"] {cursor: pointer; /* 3 */}

/* Re-set default cursor for disabled elements */
button[disabled], html input[disabled] {cursor: default;}

/* 1. Address `appearance` set to `searchfield` in Safari and Chrome
   2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof) */
[type="search"], [type="text"], [type="button"], [type="submit"] {-webkit-appearance: none; border-radius:0; -webkit-border-radius: 0; /* 1 */}

/* Define consistent border, margin, and padding */
fieldset {border:1px solid #EACE9E; margin:0 auto 1rem; clear:both; padding: 1rem;}

/* Don't inherit the `font-weight` (applied by a rule above).
   NOTE: the default cannot safely be changed in Chrome and Safari on OS X */
optgroup {font-weight: normal;}
textarea, text, textfield, input, select, [type="search"], [type="text"] {font-size:1rem; background:#FFF; border-radius:0px; font-family:"Sawarabi Mincho", serif; -webkit-border-radius: 0px; color:var(--mint); border:var(--mint) solid 2px; padding:.5rem 1rem; width:100%; margin:0 auto .5rem;}
select, textarea {padding:.6rem 1.125rem .3rem;}
input[type="radio"] {height:20px; margin:.25rem; width:20px; vertical-align:middle;}
input:focus, button:focus, textarea:focus, text:focus, textfield:focus, select:focus {outline:2px solid var(--mint); border:#00243A solid 2px;}
label {font-weight:bold; padding-right:.5rem; display:block; font-size:.75rem; clear:both; margin:0 auto .375rem;}
.float-label {padding:.25rem .5rem .25rem 0; position: relative; margin:0 auto .75rem;}
.float-label label {position: absolute; padding:0 1.5rem; top:-.75rem; background:#111B56; color:#FFF; font-size:.625rem; height:auto; -webkit-transition: ease-in .3s; -moz-transition: ease-in .3s; transition: ease-in .3s; width:calc(100% - .77rem); z-index: 1;}
input:focus ~ label, textarea:focus ~ label, text:focus ~ label, textfield:focus ~ label, select:focus ~ label {}

/* TABLES */
/* ====== */
/* Remove most spacing between table cells */
/* TABLES */
/* ====== */
/* Remove most spacing between table cells */
table {border-collapse: collapse; border-spacing: 0;display: block; float: left; width: 100%; text-align: left; margin: 1rem auto 1.5rem; overflow-x: auto; -webkit-overflow-scrolling: touch; table-layout: fixed;}
table, th, tr, td {border:1px solid #0B1233; position: relative; vertical-align: top;}
th {background:#064145; color:#FFF; font-weight:bold;}
th, tr {white-space: nowrap; padding: 0.5rem;}
td {word-wrap:break-word; width:100%; padding:.5rem;}
th, td {text-wrap:wrap;}

ul {list-style-type:none;}
ul, ol {padding:0 0 0 1.25rem; margin:1rem 0;}
ul li {padding:.125rem 0rem .125rem 0; /*text-indent:-1.375rem;*/ list-style-type:disc;}
ul ul, ul ol, ol ol, ol ul {margin:1rem 0 1rem 1.5rem;}
ul ul li {list-style-type:circle; margin-left:.5rem;}

/* ACCESSIBILITY SKIP NAVIGATION */
/* ============================= */
html {scroll-padding-top:4rem;}
.wcag-skip-nav {position: absolute; left:-10000px; top:auto; width:1px; height:1px overflow:hidden;}
.wcag-skip-nav a:focus {position: static; width:auto; height: auto;}

/* COLORS */
/* ====== */

/* MINT:	             HEX: #17939B    	RGB: 23,147,155 */
/* TEAL:               HEX: #005F75    	RGB: 0,99,115 */
/* ORANGE:             HEX: #FF7000			RGB: 255,112,0 */
/* GOLD:               HEX: #FFE00C     RGB: 255,224,12 */
/* DARK TEAL:   	     HEX: #00243A    	RGB: 0,36,58 */
/* NEARLY BLACK:			 HEX: #001D2F			RGB: 0,29,47 */
/* PASTEL YELLOW:			 HEX: #FFFFBB			RGB: 255,255,187 */
/* CORAL:	 						 HEX: #FF755F			RGB: 255,117,95 */
/* CORAL LITE:				 HEX: #FF7F6F			RGB: 255,127,111 */

/* ORANGE:             HEX: #FF7000			RGB: 255,112,0 */

:root {
	--mint: #17939B;
	--teal: #005F75;
	--gold: #FFE00C;
	--dark-teal: #00243A;
	--nearly-black: #001D2F;
	--pastel-yellow: #FFFFBB;
	--coral: #FF755F;
	--coral-lite: #FF7F6F;
	--
}

/* SITE ELEMENTS */
/* ============= */
* {margin:0; padding:0;}
*, *:after, *:before {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
html {font-family: "Poppins", sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
html, body {background:#FFF; color:var(--nearly-black); font: normal normal 16px/1.75rem 'Poppins', sans-serif; overflow-x:hidden;}
body {margin:0;}
body * {letter-spacing:1px; word-wrap: break-word;}
a {color:#005F75; text-decoration:none; position:relative; background-color: transparent; display:inline-block; cursor:pointer; transform:scale(1,1); transition: .2s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12);}
a:hover, a:focus, .bg-or a:hover, .bg-mi a:hover, .bg-te a:hover, .bg-dt a:hover, .bg-l45-tedt a:hover {color:var(--coral); text-decoration: underline; outline:0; transform:scale(1.1,1.1);}
svg:not(:root) {overflow:hidden;}
b, strong {font-weight:700;}
i, em {font-style: italic;}
b i, b em, strong i, strong em, i b, i strong, em b, em strong {font-style: italic; font-weight:700;}
p {margin:0 auto .75rem;}

img, object, embed, figure, picture, video {border:none;}
img, video {height:auto; width:100%;}
h1, h2, h3, h4, h5, h6 {font: normal normal normal 1rem 'pilsnerregular', serif; color:#00243A; line-height:2rem;  margin:0 auto .75rem; position:relative;  display:block!important; letter-spacing: 1px!important;}
h1{font-size:4rem;}
h2, h3, h4, h5, h6 {font-size:3rem;}
div[data-text="blockquote"] {padding:.5rem .75rem;}
blockquote {font-family: 'mouse_memoirsregular', serif; font-style: italic;}
/* blockquote:before, blockquote:after {content:'\0022'; padding:0 .125rem;} */
cite {float:right; font: normal normal 1rem/1.125rem, sans-serif;}
cite:before {content:'\002D';}
*, *:after, *:before {box-sizing:border-box !important; -moz-box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}
main, section {display:block; width:100%; clear:both; position:relative; z-index: 0}

/* OBJECTS */
/* ======= */

.clearfix {clear:both;}
.clearfix:after {clear:both; content:""; display:block; font-size:0; height:0; visibility:hidden;}
*:focus {outline:none;}

.wrapper {width:100%; max-width:80%; margin:0 auto; position:relative; z-index: 1;}

.left, .right {float:none;}
img.left, img.right, figure.left, figure.right, picture.left, picture.right {padding:1rem 0; display:block;}
.center {display:block !important; margin:.5rem auto; position:relative;}
.center-inline {display:inline-block; margin:.5rem auto; position:relative;}
.fit {height:100%; width:100%; object-fit:cover; position: relative; z-index: 0;}

.bg-or a, .bg-mi a, .bg-te a, .bg-dt a, .bg-l45-tedt a {color:var(--coral-lite);}

/*
a[href$=".pdf"], a[href$=".doc"], a[href$=".zip"], a[href^="mailto:"], a[href^="tel:"], a[target=_blank] {margin:0 1rem 0 0;}
a[href$=".pdf"]:after, a[href$=".doc"]:after, a[href$=".docx"]:after, a[href^="mailto:"]:after, a[href$=".zip"]:after, a[href^="tel:"]:after, a[target=_blank]:after, a[href^="http"]:after {position:absolute; top:.7rem; font-family: 'linecon-mgeregular'; font-size:.75rem; padding:0; display:inline-block;}

a[target=_blank]:after {content:'\00F4';}
a[href$=".pdf"]:after {content:'\00F4';}
a[href$=".doc"]:after, a[href$=".docx"]:after {content:'\00D4';}
a[href^="mailto:"]:after {content:'\f003';}
a[href^="tel:"]:after {content:'\f095';}
a[href$=".zip"]:after {content:'\f1c6';}
#mainc a.btn {padding:0rem .75rem;}
*/

/* BUTTONS */
/* ======= */

.btn, button, input[type=button], a.btn {font-size:1.5rem; font-family: 'mouse_memoirsregular', sans-serif; background:var(--coral-lite); border:none; border-radius:5px; color:#00243A; line-height:1.5; cursor:pointer; outline:0;  position: relative; margin:0 auto .25rem; padding:.375rem 1.5rem; text-align: center; transform:scale(1,1); transition: .2s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12); text-transform: lowercase; width:100%; overflow: visible; animation-fill-mode:none!important; -webkit-animation-fill-mode:none!important;}
.btn a, button a, .btn:hover a, .btn:focus a, button:hover a, button:focus a {color:#00243A; border:none; display:block; padding:0;}
.btn:hover, .btn:focus, button:hover, button:focus, input[type=button]:hover, input[type=button]:focus, .btn.secondary:hover, .btn.secondary:focus, .btn.btn-alt:hover, .btn.btn-alt:focus, a.btn:hover {background:var(--coral); transform:scale(1.1,1.1); border:none; color:#00243A; text-decoration: none;}
.btn:active, button:active {color:#FFF;}
.btn.inactive, button.inactive, input[type=button].inactive, a.btn.inactive {background:#FDFDE6; color:#FFF; cursor: auto;}
.btn.error, button.error, input[type=button].error, a.btn.error {background:var(--mint); color:#FFF;}
.btn.btn-alt {background: #00243A;}

.btn-animation {background:#00243A; color:#FFF; position: absolute; left:-100px; top:0; height:100%; width:50px; -webkit-transition:all linear .3s; -moz-transition:all linear .3s; transition:all linear .3s;}
.btn-animation i {margin-top:30%;}
.btn:hover .btn-animation {left:0px;}

.btn-icon {display: inline-block; border-radius: 50%; border:solid 1px #BBFCE0; position:absolute; text-align: center; right:-2rem;}
.btn-icon > i {top:0;}
.btn-icon.bi-s > i {margin-top: 15%;}
.btn-icon.bi-l > i {margin-top: 20%;}
.bi-s {width:2.5rem; height:2.48rem; top:0;}
.bi-l {width:3.24rem; height:3.24rem; top:0;}

.btn--circle {width:200px; height:200px; border-radius:50%; padding:1rem; background: var(--coral); transition: linear .2s;}
.btn--circle img {transition: linear 2s;}
.btn--circle:hover, .btn--circle:focus {transform: scale(1.02,1.02)!important; background: var(--mint); box-shadow:inset 0 0 15px 5px rgba(0,36,58,.6);}
.btn--circle:hover img, .btn--circle:focus img {mix-blend-mode: soft-light;}

/* BACKGROUND COLORS */
.bg-or {background-color:#FF7000;}
.bg-go {background-color:var(--gold);}
.bg-py {background-color:var(--pastel-yellow);}
.bg-mi {background-color:var(--mint);}
.bg-te {background-color:#005F75;}
.bg-dt {background-color:#00243A;}
.bg-wh {background-color:#FFF;}
.bg-co {background-color:var(--coral);}
.bg-cl {background-color:var(--coral-lite);}

.bg-bplp--stripes {background:repeating-linear-gradient(to left, var(--coral), var(--coral) 50px, var(--coral-lite) 50px, var(--coral-lite) 100px);}

.bg-l45-mite {background-color:#FF7000; background:linear-gradient(45deg,var(--mint),#);}
.bg-l45-goor {background-color:#005F75; background:linear-gradient(45deg,var(--gold),#FF7000);}
.bg-l45-tedt {background-color:#005F75; background:linear-gradient(135deg,#00243A 50%,#005F75 80%,#00243A);}
.bg-l45-temi {background-color:#005F75; background:linear-gradient(45deg,#005F75,var(--mint));}
.bg-orte {background-color:var(--mint); background:linear-gradient(#FF7000,#005F75);}
.bg-goormi {background-color:var(--mint); background:linear-gradient(30deg,var(--gold),#FF7000,var(--mint));}

/* BORDERS */
.ba-cr {border:var(--mint) solid 1px;}
.ba-kh {border:#FF7000 solid 1px;}
.ba-cb {border:#005F75 solid 1px;}
.ba-as {border:var(--gold) solid 1px;}
.ba-dg {border:#00243A solid 1px;}

.bl-cr {border-left:var(--mint) solid 1px;}
.bl-kh {border-left:#FF7000 solid 1px;}
.bl-cb {border-left:#005F75 solid 1px;}
.bl-as {border-left:var(--gold) solid 1px;}
.bl-dg {border-left:#00243A solid 1px;}

.br-cr {border-right:var(--mint) solid 1px;}
.br-kh {border-right:#FF7000 solid 1px;}
.br-cb {border-right:#005F75 solid 1px;}
.br-as {border-right:var(--gold) solid 1px;}
.br-dg {border-right:#00243A solid 1px;}

.bb-cr {border-bottom:var(--mint) solid 1px;}
.bb-kh {border-bottom:#FF7000 solid 1px;}
.bb-cb {border-bottom:#005F75 solid 1px;}
.bb-as {border-bottom:var(--gold) solid 1px;}
.bb-dg {border-bottom:#00243A solid 1px;}

.bt-cr {border-top:var(--mint) solid 1px;}
.bt-kh {border-top:#FF7000 solid 1px;}
.bt-cb {border-top:#005F75 solid 1px;}
.bt-as {border-top:var(--gold) solid 1px;}
.bt-dg {border-top:#00243A solid 1px;}

.ba-e {border-width:1px 0px 1px 1px;}
.ba-e:last-child {border-width:1px;}

/* BOX SHADOWS */
.bs-dg {box-shadow: 0 0 10px #00243A;}

/* POLYGON BOXES */
.poly-tl-95 {clip-path:polygon(0 5%, 100% 0, 100% 100%, 0 100%);}
.poly-tr-95 {clip-path:polygon(0 0, 100% 5%, 100% 100%, 0 100%);}
.poly-br-95 {clip-path:polygon(0 0, 100% 0, 100% 95%, 0 100%);}
.poly-bl-95 {clip-path:polygon(0 0, 100% 0, 100% 100%, 0 95%);}
.poly-parallelogram {clip-path:polygon(0 2%, 100% 0, 100% 98%, 0 100%);}

/* ROTATIONS FOR CONTAINERS */
.rotate-l--2 {transform: rotate(358deg);}
.rotate-l--4 {transform: rotate(356deg);}

.rotate-r--2 {transform: rotate(2deg);}
.rotate-r--4 {transform: rotate(4deg);}

/* TEXT COLORS, FONTS, FONT SIZES */
.text-wh {color:#FFF;}
.text-dg {color:#00243A;}
.text-or {color:#FF7000;}
.text-py {color:var(--pastel-yellow);}
.text-te {color:#005F75;}
.text-nb {color:#001D2F;}

[class*="fs-"] {line-height: 2rem;}
.fs-0, .fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 {font-size: 1.25rem;}
.font-c, .text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
[class^="dc-"] {display: block; line-height: 2.5rem;}
[class^="callout-"] {line-height: 1.5rem;}
.pilsner {font-family: 'pilsnerregular', sans-serif;}
.mouse {font-family: 'mouse_memoirsregular', sans-serif;}

.lh-1 {line-height: 1rem;}
.lh-1--5 {line-height: 1.5rem;}
.lh-2 {line-height: 2rem;}
.lh-2--5 {line-height: 2.5rem;}
.lh-3 {line-height: 3rem;}
.lh-3--5 {line-height: 3.5rem;}
.lh-4 {line-height: 4rem;}
.lh-4--5 {line-height: 4.5rem;}
.lh-5 {line-height: 5rem;}

/* PADDING & MARGINS */
.pa-0 {padding:0!important;}
.pa-1 {padding:1rem;}
.pa-2 {padding:2rem;}
.pa-3 {padding:3rem;}
.pa-4 {padding:4rem;}
.pa-5 {padding:5rem;}
.pa-6 {padding:6rem;}
.pa-7 {padding:7rem;}
.pa-8 {padding:8rem;}

.ptb-0 {padding:0!important;}
.ptb-1 {padding:1rem 0;}
.ptb-2 {padding:2rem 0;}
.ptb-3 {padding:3rem 0;}
.ptb-4 {padding:4rem 0;}
.ptb-5 {padding:5rem 0;}
.ptb-6 {padding:6rem 0;}
.ptb-7 {padding:7rem 0;}
.ptb-8 {padding:8rem 0;}

.pt-1 {padding-top:1rem;}
.pt-2 {padding-top:2rem;}
.pt-3 {padding-top:3rem;}
.pt-4 {padding-top:4rem;}
.pt-5 {padding-top:5rem;}
.pr-1 {padding-right:1rem;}
.pr-2 {padding-right:2rem;}
.pr-3 {padding-right:3rem;}
.pr-4 {padding-right:4rem;}
.pr-5 {padding-right:5rem;}
.pb-1 {padding-bottom:1rem;}
.pb-2 {padding-bottom:2rem;}
.pb-3 {padding-bottom:3rem;}
.pb-4 {padding-bottom:4rem;}
.pb-5 {padding-bottom:5rem;}
.pl-1 {padding-left:1rem;}
.pl-2 {padding-left:2rem;}
.pl-3 {padding-left:3rem;}
.pl-4 {padding-left:4rem;}
.pl-5 {padding-left:5rem;}

.ma-0 {margin: 0;}
.mt-1, .mt-2, .mt-3, .mt-4, .mt-5, .mt-6, .mt-7, .mt--1, .mt--2, .mt--3, .mt--4, .mt--5, .mt--6, .mt--7, .mt--8 {margin-top:1rem;}
.mb-1, .mb-2, .mb-3, .mb-4, .mb-5, .mb-6, .mb-7 {margin-bottom:1rem;}
.ma-1, .ma-2, .ma-3, .ma-4, .ma-5, .ma-6, .ma-7 {margin:1rem auto;}
.mr-1 {margin-right:1rem;}
.mr-2 {margin-right:2rem;}
.mr-3 {margin-right:3rem;}
.mr-4 {margin-right:4rem;}
.mr-5 {margin-right:5rem;}
.ml-1 {margin-right:1rem;}
.ml-2 {margin-right:2rem;}
.ml-3 {margin-right:3rem;}
.ml-4 {margin-right:4rem;}
.ml-5 {margin-right:5rem;}
.mrl-1 {margin:0 1rem;}
.mrl-2 {margin:0 2rem;}
.mrl-3 {margin:0 3rem;}
.mrl-4 {margin:0 4rem;}
.mrl-5 {margin:0 5rem;}

.h-100 {height:100%;}
.vh-100, .vh-95, .vh-90, .vh-85, .vh-80, .vh-75, .vh-70, .vh-65, .vh-60, .vh-55, .vh-50, .vh-45, .vh-40, .vh-35, .vh-30, .vh-25, .vh-20, .vh-15, .vh-10 {height:auto;}

.va-t {vertical-align:top;}
.va-b {vertical-align:bottom;}
.va-m {vertical-align:middle;}

.overlay {opacity:.5; width:100%; height:100%; display: block; position: absolute; top:0; left:0; z-index: 2;}
.overlay--bg {z-index: 0;}
.overflow-hidden {overflow: hidden;}

/* DISPLAY TYPES */
.d-block {display:block;}
.d-inline-block {display:inline-block;}
.d-inline {display:inline;}
.d-table {display:table;}

.scroll-mouse {position:absolute; ma-3eft:-10px; top:30px; left:50%; z-index: 10;}
.scroll-mouse:before {position: absolute; width:22px; height:40px; content: ""; text-align: center; color:#FFF; border:solid #FFF 1px; border-radius:8px; background:rgba(31,11,56,.5);}
.scroll-mouse-cursor {position: absolute; width:1px; content:""; background:#FFF; height:20px; left:10px; top:20px;}

.bg-vi {height:100%; position: absolute; z-index: -1; top:0; object-fit: cover;}

/* POSITIONING */
.position-relative {position:relative;}
.position-absolute {position:absolute!important;}
.position-fixed {position:fixed;}

.pos-t-0 {top:0;}
.pos-t-5 {top:5%}
.pos-t-10 {top:10%}
.pos-t-20 {top:20%}
.pos-t-30 {top:30%}
.pos-t-40 {top:40%}
.pos-t-50 {top:50%}
.pos-t-60 {top:60%}
.pos-t-70 {top:70%}
.pos-t-80 {top:70%}
.pos-t-90 {top:90%}
.pos-t-100 {top:100%}

.pos-b-0 {bottom:0;}
.pos-b-5 {bottom:5%}
.pos-b-10 {bottom:10%}
.pos-b-20 {bottom:20%}
.pos-b-30 {bottom:30%}
.pos-b-40 {bottom:40%}
.pos-b-50 {bottom:50%}
.pos-b-60 {bottom:60%}
.pos-b-70 {bottom:70%}
.pos-b-80 {bottom:70%}
.pos-b-90 {bottom:90%}
.pos-b-100 {bottom:100%}

.pos-l-0 {left:0;}
.pos-l-5 {left:5%}
.pos-l-10 {left:10%}
.pos-l-15 {left:15%}
.pos-l-20 {left:20%}
.pos-l-25 {left:25%}
.pos-l-30 {left:30%}
.pos-l-35 {left:35%}
.pos-l-40 {left:40%}
.pos-l-45 {left:45%}
.pos-l-50 {left:50%}
.pos-l-55 {left:55%}
.pos-l-60 {left:60%}
.pos-l-65 {left:65%}
.pos-l-70 {left:70%}
.pos-l-75 {left:75%}
.pos-l-80 {left:80%}
.pos-l-85 {left:85%}
.pos-l-90 {left:90%}
.pos-l-95 {left:95%}
.pos-l-100 {left:100%}

.pos-r-0 {right:0;}
.pos-r-5 {right:5%}
.pos-r-10 {right:10%}
.pos-r-15 {right:15%}
.pos-r-20 {right:20%}
.pos-r-25 {right:25%}
.pos-r-30 {right:30%}
.pos-r-35 {right:35%}
.pos-r-40 {right:40%}
.pos-r-45 {right:45%}
.pos-r-50 {right:50%}
.pos-r-55 {right:55%}
.pos-r-60 {right:60%}
.pos-r-65 {right:65%}
.pos-r-70 {right:70%}
.pos-r-75 {right:75%}
.pos-r-80 {right:80%}
.pos-r-85 {right:85%}
.pos-r-90 {right:90%}
.pos-r-95 {right:95%}
.pos-r-100 {right:100%}

.pos-lw-5 {left:5%; width:90%;}
.pos-lw-10 {left:10%; width:80%;}
.pos-lw-15 {left:15%; width:70%;}
.pos-lw-20 {left:20%; width:60%;}
.pos-lw-25 {left:25%; width:50%;}
.pos-lw-30 {left:30%; width:40%;}

.zreset {z-index: 0;}
.z--1 {z-index: -1;}
.z-10 {z-index: 10;}

/* FLEXBOX */
.flex-container {/*display: flex;*/display:block;}
.flex-align-end {align-items:flex-end;}
.flex-align-start {align-items:flex-start;}
.flex-align-center {align-items:center;}
.flex-align-stretch {align-items:stretch;}
.flex-align-baseline {align-items:baseline;}
.flex-align-self--auto {align-self:auto;}
.flex-align-self--flex-start {align-self:flex-start;}
.flex-align-self--flex-end {align-self:flex-end;}
.flex-align-self--center {align-self:center;}
.flex-align-self--baseline {align-self:baseline;}
.flex-align-self--stretch {align-self:stretch;}
.flex-content-start {align-content:flex-start;}
.flex-content-end {align-content:flex-end;}
.flex-content-center {align-content:center;}
.flex-content-stretch {align-content:stretch;}
.flex-content-between {align-content:space-between;}
.flex-content-around {align-content:space-around;}
.flex-content-justify--flex-start {justify-content:flex-start;}
.flex-content-justify--flex-end {justify-content:flex-end;}
.flex-content-justify--space-between {justify-content:space-between;}
.flex-content-justify--space-around {justify-content:space-around;}
.flex-content-justify--space-evenly {justify-content:space-evenly;}
.flex-content-justify--center {justify-content:center;}
.flex-direction--column {flex-direction:column;}
.flex-direction--column-reverse {flex-direction:column-reverse;}
.flex-direction--row {flex-direction:row;}
.flex-direction--row-reverse {flex-direction:row-reverse;}
.flex-wrap--nowrap {flex-wrap:nowrap;}
.flex-wrap--wrap {flex-wrap:wrap;}
.flex-wrap--wrap-reverse {flex-wrap:wrap-reverse;}
.flex-item {display:flex;}
.flex-gap0-25 {column-gap:.25%;}
.flex-gap0-5 {column-gap:.5%;}
.flex-gap1 {column-gap:1%;}
.flex-gap2 {column-gap:2%;}
.flex-gap3 {column-gap:3%;}
.flex-gap4 {column-gap:4%;}
.flex-shrink--0 {flex-shrink: 0;}
.flex-shrink--1 {flex-shrink: 1;}
.flex-shrink--2 {flex-shrink: 2;}
.flex-grow--1 {flex-grow: 1;}
.flex-grow--2 {flex-grow: 2;}
.flex-grow--3 {flex-grow: 3;}
.flex-grow--4 {flex-grow: 4;}
.flex-break {flex-basis:100%; height:0;}

/* WAYPOINTS TRANSITIONS */
.wp-opacity {-webkit-transition:ease-in all 1s; -moz-transition:ease-in all 1s; transition:ease-in all 1s;}

/* OPACITY */
.opacity-0 {opacity: 0;}
.opacity-10 {opacity: .1;}
.opacity-20 {opacity: .2;}
.opacity-30 {opacity: .3;}
.opacity-40 {opacity: .4;}
.opacity-50 {opacity: .5;}
.opacity-60 {opacity: .6;}
.opacity-70 {opacity: .7;}
.opacity-80 {opacity: .8;}
.opacity-90 {opacity: .9;}
.opacity-100 {opacity: 1;}

/* BLEND MODES & BACKDROPS */
.blend-multiply {mix-blend-mode: multiply;}
.blend-screen {mix-blend-mode: screen;}
.blend-overlay {mix-blend-mode: overlay;}
.blend-darken {mix-blend-mode: darken;}
.blend-lighten {mix-blend-mode: lighten;}
.blend-color-dodge {mix-blend-mode: color-dodge;}
.blend-color-burn {mix-blend-mode: color-burn;}
.blend-hard-light {mix-blend-mode: hard-light;}
.blend-soft-light {mix-blend-mode: soft-light;}
.blend-hue {mix-blend-mode: hue;}
.blend-saturation {mix-blend-mode: saturation;}
.blend-color {mix-blend-mode: color;}
.blend-luminosity {mix-blend-mode: luminosity;}
.blend-exclusion {mix-blend-mode: exclusion;}
.overlay.backdrop-blur {opacity: 1;}
.overlay.backdrop-blur.backdrop-blur--hover {opacity: 1; -webkit-transition:ease-in .2s; transition:ease-in .2s;}
.overlay.backdrop-blur.backdrop-blur--hover:hover {opacity: 0;}
.backdrop-blur {-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);}

/* WAYPOINTS */
/* ========= */
.fadein--up {overflow: hidden;}
.fadein--up img {top:100%; opacity:0;}
.fadein--up img.animate__animated.animate__fadeInUp {top:0; opacity:1;}

/* ACCORDIONS */
.accordion-content {opacity: 0; max-height: 0; overflow: hidden; transition: opacity .3s linear, max-height .3s linear; will-change: opacity, max-height;}
a[aria-expanded='true'] + .accordion-content {opacity: 1; max-height: 100%; transition: all .3s linear; will-change: opacity, max-height;}
.accordion-icon {display: inline-block; position: absolute; top:0rem; right:0; height:24px; width:24px; border-radius:24px; border:solid 1px;}
.accordion-icon:before, .accordion-icon:after {display: block; position: absolute; content: ''; background-color: var(--mint);transition: linear .2s;}
.accordion-icon:before {top:10px; left:6px; width:10px; height:2px;}
.accordion-icon:after {top:6px; left:10px; width:2px; height:10px;}
a[aria-expanded='true'] .accordion-icon:after, a[aria-expanded='true'] .accordion-icon:before {background-color:#FC6A0D;transform:rotate(45deg); transition: linear .2s;}

/* COMPONENTS */
/* ========== */

/* HEADER */

header { background:#00243A; background:rgba(0,36,58,.9); position:fixed; padding:0; z-index:1000; top:0; left:0; width:100%; -webkit-transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; transition:all ease-in-out .5s; }
header.hidden {top:-5rem;}
.header--top-page-spacing {margin-top:6rem;}
header .wrapper.wrapper--60 {max-width:100%;}

/* NAVIGATION */

.menu-trigger {position: absolute; padding:.5rem; font-size: 1.5rem; margin:0; color:var(--gold); display:block; right:1rem; top:.5rem; z-index: 1002;}
nav {position: fixed; margin:0; padding:5rem 0 0; width:80%; height: 110vh; background:#00243A; top:0; right:auto; z-index: 1001;}
nav.robonster-nav {right:-100%; transition: .5s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12);}
nav.robonster-nav.active {right:0;}
nav ul, nav ul li {list-style: none; margin:0; padding:0;}
nav ul li {display: block;}
nav a {color:#FFF; font-size: 2rem;}
nav ul li a {padding:1rem 2rem; transform: scale(1,1); width:100%;}
nav ul li a:hover, nav ul li a:focus {transform: scale(1,1); background:var(--gold); color:#00243A; text-decoration: none;}

/* FOOTER */

footer {background-color:#00243A; color:#FFF; width:100%; bottom:0; clear:both; height:auto; margin:0 auto; position:relative;}
.footer-top, .footer-middle {}
.footer-top {background:var(--mint); padding:2rem 1rem;}
.footer-middle {padding: 2rem 1rem;}
.footer-bottom {color:#FDFDE6; padding:1rem 1rem .5rem;}

footer h5, footer h6 {color:#FFF; font-size:1.25rem; margin-bottom:.25rem;}
footer ul, footer ul li {padding:0; line-height:1.25; text-indent:0;}
footer p {line-height: 1.75; margin:0; font-size:1rem;}
footer ul, footer ol {margin: 0; padding:0; font-size: 1rem;}
footer li { font-size: 1rem;}
footer li a {color:#BBFCE0; display:block; padding:.25rem 0rem;  position:relative;}
footer a {color:var(--gold);}
footer a[target=_blank]:after {font-size:.75rem; position:relative; top:.25rem; left:.25rem;}
footer a:hover, footer a:focus {color:var(--coral);}
.footbox {display:inline-block; vertical-align:top; position:relative; text-align:left; margin:0 auto;}

/*
nav {position: relative; height: auto; width:auto; top:auto; right:auto;}
nav ul li {display: inline-block;}


MENU
.new-navigation nav a {color:#FFF!important;}
nav {padding:0; z-index:100; float: right; font-family:'Organum Medium', san-serif; text-align: right;}
nav li a {width:100%; padding:.75rem 1rem ; display:block; color:#FFF; font-size: 1.25rem; line-height:1.75;}
nav li a:hover, .cbp-hrmenu ul ul li a:hover {color:var(--gold);}
nav li a[target="_blank"] {margin:0;}
/*.cbp-hrmenu ul li a.nav-active {background:#16393A;}
a.nav-active {color:#EACE9E;}
nav#cbp-hrmenu {margin:0;}
#cbp-hrmenu {margin:0 auto; overflow-x: auto;}
.cbp-hrmenu {width:;}
.cbp-hrmenu ul {margin:0; padding:0; list-style-type:none; display:inline; white-space: nowrap;}
.cbp-hrmenu li {text-indent:0; padding:0;}
.cbp-hrmenu > ul > li {display: inline-block; padding:0;}
/* SUBMENU
.cbp-hrmenu .cbp-hrsub {display: none; position: relative; background:#00243A; text-align: center; margin:0 auto; width: 100%; left: 0; font-size:.875rem; z-index:101;}
.cbp-hropen .cbp-hrsub {display: block; position:absolute; padding:.5rem;}
.cbp-more.cbp-hropen {background:#00243A;}
.cbp-more.cbp-hropen a {color:#FFF;}
.cbp-hrmenu ul ul {position:absolute; white-space: normal; padding:1rem;}
.cbp-hrmenu ul ul .cbp-container {padding:0; margin:0 auto; position:relative;}
ul.cbp-hrsub {overflow-y:scroll; -webkit-overflow-scrolling: touch;}
.cbp-hrmenu ul ul li {padding:0;}
nav ul ul .rob-grid1-4.left {padding:.25rem .5rem; height:auto;}
.cbp-hrmenu ul ul li a {display:inline-block; padding:.25rem; text-align: left; letter-spacing:1px; color:#FFF; text-transform: none;}
.cbp-hrmenu ul ul li a:hover {color: #BBFCE0;}
li.rob-grid-custom-menu {width:100%; margin-bottom:1rem;}
*/
/* CONTENT */
/* ======= */

/* VIDEO & IMAGES */
.video-box {overflow:hidden;}
.video-box iframe {position: relative; top:0; left: 0; height:100%; width:100%;}
.video-box video {padding:56.25% 0 0; position: relative;}
.video-box.resp-grid1-2, .video-box-half {padding: 28.125% 0 0;}
.video-box-half {width:calc(50% - 1rem);}

/* HERO */
.hero {display:block; width:100%; margin:0 auto; position:relative; /*overflow:hidden;*/ z-index:1;}
.hero-main {height:100%; width:100%; position: relative;}
.hero-main:before {content:""; background:#00243A; background:linear-gradient(135deg, #00243A, rgba(31,11,56,0)); opacity:.4; position: absolute; top:0; right:0; z-index: 1; height:100%; width:100%;}
.hero-info {position:relative; display:block; padding:2rem; margin:0 auto; top: 0%; left:0%; z-index: 11;}
.hero h2 {margin:0 0 .25rem 0;}
.hero .hero-info .overlay {z-index: -1;}
.hero-info {position: relative; margin:0; padding:10%;}

/* CONTENT SLIDER */
.slider-container {overflow-x: scroll; white-space: nowrap;}
.slider-container--item {display: inline-block; position: relative; /*width:80%;*/}
.slider-container--item-text {white-space: normal; margin:25px 0 0 -55px;}
.slider-container--item-text:before {background:#FFF; background:rgba(255,255,255,.3); content:''; width:70px; height:70px; border-radius:50%; display: block; position: absolute; border:solid var(--mint) 3px; left:-54px; bottom:-45px; z-index: -100; -webkit-backdrop-filter: blur(3px); backdrop-filter: blur(3px);}
.slider-container--item-text:after {content:''; width:101%; height:101%; display: block; position: absolute; border:solid var(--mint) 1px; left:-20px; top:10px;}

/* CONTENT FULL SCREEN SLIDER */
.depth--list {position: absolute; bottom:10%; left:10%; height:90px; overflow-x: scroll; white-space: nowrap; z-index: 1; -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */}
.depth--list::-webkit-scrollbar {display: none;}
.depth--list-item {width:300px; height:80px; overflow: hidden; margin:0 1rem;}
.depth--list-item figure {margin: 0;}
.depth--container {position: relative; z-index: 0;}
.depth--container-item {position: absolute; width:100%; left:20px; transition: ease-in .5s; opacity:0}
.depth--container-item.active {left:0; opacity:1}
.depth--container-item-title {position: absolute; top:40%; left:50%; z-index: 1; transition: ease-in .5s;}
.depth--container-item.active .depth--container-item-title {top:43%; left:51%;}
.depth--container-item-text {position: absolute; top:42%; left:51%; z-index: 1; transition: ease-in .5s;}
.depth--container-item.active .depth--container-item-text {top:46%; left:53%;}

/* TIPS CONTAINERS */
.tips {position: relative; overflow:hidden; margin: 0; padding: 0; transition: all .2s linear;}
.tips h5, .tips p {color: #FFF;}
.tips:hover {text-decoration: none; background:#00243A;}

.tips-image {position: relative;}
.tips-reveal p {margin:0; position: absolute; top:250px; transition: ease-out .3s; z-index: 3; height:100%; padding:5%;}
.tips.tips-reveal:hover p {top:0;}
.tips-image {height:250px; overflow:hidden;}
.tips-image img {transition: all .2s linear;}
.tips:hover .tips-image img {transform: scale(1.1, 1.1);}

/* STUDY CONTAINERS */
.study-container {position: relative; overflow:hidden; display: block;}
.study-container > .overlay {position: absolute; top:200%; transition: .5s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12);}
.study-container:hover > .overlay {top:0;}
.study--text {position: relative; top: 35%; z-index: 1000; transition: .5s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12);}
.study--text > div > h4, .study--text > div > div {background:rgba(0,36,58,.8); padding:.5rem 1rem; font-size:1.5rem; margin:0 0 .5rem 0; color:#FFF; transition: .5s; transition-timing-function:cubic-bezier(.24,.5,.34,1.12);}
.study-container:hover {transform:scale(1,1);}
.study-container:hover .study--text > div > h4, .study-container:hover .study--text > div > div {background:rgba(0,36,58,0); color:#00243A;}
.study-container:hover > .study--text {top:0;}
.study-container figure {position: absolute; top: 0; width:100%;}
.study-container video {position: absolute; top:50%; left: 50%; transform:translate(-50%, -50%);}

/* FULL BACKGROUND & TEXT */
.full-bg-container {position: relative; overflow: hidden; height:100vh;}
.full-bg--text {position: absolute; left:10%; top:10%; width:80%; z-index: 100;}
.full-bg-container figure {height: 100vh;}

/* GSAP SCROLL IMAGE REVEAL */
.img-comparison {overflow: hidden;}
.img-comparison--img {width:100%; height:100%;}
.img-comparison--imgafter {position:absolute; overflow:hidden; top:0; transform: translate(100%, 0px);}
.img-comparison--imgafter img {transform: translate(-100%, 0px);}
.img-comparison--img img {width:100%; height:100%; position: absolute; top:0;}

/* GSAP FADES */
.opacity-fade {opacity:0;}

/* BOX MOVEMENTS */
.box-up {}
.box-up--100{top:100px;}

/* UTILITIES */
/* ========= */

.progress-bar{background:#00243A; background:linear-gradient(90deg,#00243A,#FF7000,var(--mint)); position: fixed; bottom: 0; left: 0; height: 10px; z-index:99;}

.medium-zoom-image {-webkit-transition:.5s all; -moz-transition:.5s all; transition:.5s all;}
.medium-zoom-overlay {z-index: 999;}
.medium-zoom-image--opened {-webkit-transition:.5s all; -moz-transition:.5s all; transition:.5s all; z-index: 1000;}

#cover-overlay {position: absolute; left:20%; bottom: -20px; width:300px; z-index: 10;}

.glass {backdrop-filter:blur(15px); -webkit-backdrop-filter:blur(15px); background:#FFF; background-color:rgba(255, 255, 255, .7);}
.glass-lower {backdrop-filter:blur(16px); -webkit-backdrop-filter:blur(16px);}

/* SITE NAME AND LOGO */
#name-and-slogan {margin:0 0 0 .5rem; display: block; padding:0; position: relative; float:left;}
#logo {display:block; position:relative; text-align: center; margin:0; z-index:1000; float:left; width:150px;}
#logo a {color:var(--gold); padding:.25rem; white-space: nowrap; margin-top:.75rem;}
#logo a:hover {text-decoration: none;}

#site-name {display: none; margin:.5em 0 0; padding:.5rem; text-align: center; float:left;}
#site-name a {color:var(--gold);}

.close-overlay {position:absolute; top:.75rem; right:.75rem; border-radius:50%; font-size:1.5rem; border:solid 1px #FFF; height:40px; width:40px; color:#FFF; padding:.27rem .55rem; cursor:pointer;}
.close-overlay.window-popup {background:#DB6626; top:-20px; right:10px; z-index: 100;}
.close-overlay.window-popup a {color:#FFF;}
.close-overlay.window-popup a::before {display:none;}

.icon-nav {position: relative; float:right; font-size:.75rem; padding:.75rem .5rem .25rem;}
.icon-nav a, .search-top a, .search-top ul li a:hover {color:#FFF;}
.icon-nav a:hover, .search-top a:hover, .search-top ul li a {color:#FFF;}

/* BASIC PAGE */
.nohero {margin-top:6rem;}

/* SCROLL BUTTON */
/* ============= */
.scrollToTop {border-radius:50%; display:none; position:fixed; right:1rem; bottom:1rem; background:var(--coral-lite) ; width:50px; height:50px; text-align: center; z-index: 100; transition:all ease-in-out .25s; -moz-transition:all ease-in-out .25s; -webkit-transition:all ease-in-out .25s;}
a.scrollToTop {color:var(--nearly-black); padding:9px 0 0 2px;}
.scrollToTop .fa-solid.fa-circle-arrow-up {animation:bounce 1s ease-in infinite; -webkit-animation:bounce 1s ease-in infinite; -moz-animation:bounce 1s ease-in infinite; position:relative;}
.scrollToTop:hover {background:var(--coral);}
/*a.scrollToTop:hover {color:#FFF;}*/

.social-links {}
.social-links a::before {display:none;}


@keyframes slideright {
	from {background-position: 0%;}
	to {background-position: 70000%;}
}

@-webkit-keyframes slideright {
	from {background-position: 0%;}
	to {background-position: 70000%;}
}

/* ANIMATIONS */
/* ========== */

/* BOUNCE ANIMATION */
@-webkit-keyframes bounce {
0% {top:0;}
25% {top:-.125rem;}
60% {top:0;}
75% {top:.125rem;}
100% {top:0;}
}
@keyframes bounce {
0% {top:0;}
25% {top:-.125rem;}
60% {top:0;}
75% {top:.125rem;}
100% {top:0;}
}

/* RESPONSIVE DESIGN MEDIA QUERIES */
/* =============================== */

/* 480PX - 767PX */
@media all and (min-width:480px) {
.btn-home {width:50%!important;}
}

/* 768PX - 1023PX */
@media all and (min-width:768px) {
body * {letter-spacing:.05rem;}
img.left, figure.left, picture.left {padding:.25rem 1rem .5rem 0;}
img.right, figure.right, picture.right {padding:.25rem 0 .5rem 1rem;}
.left {float:left;}
.right {float:right;}
.fs-0 {font-size:.875rem;}
.fs-1 {font-size:1.5rem}
.fs-2 {font-size:2rem;}
.fs-3 {font-size:3rem; line-height: 3rem;}
.fs-4 {font-size:4rem; line-height: 4rem;}
.fs-5 {font-size:5rem; line-height: 5rem;}
.fs-6 {font-size:6rem; line-height: 6rem;}
.mt-2 {margin-top:2rem;}
.mt-3 {margin-top:3rem;}
.mt-4 {margin-top:4rem;}
.mt-5 {margin-top:5rem;}
.mt-6 {margin-top:6rem;}
.mt-7 {margin-top:7rem;}
.mb-2 {margin-bottom:2rem;}
.mb-3 {margin-bottom:3rem;}
.mb-4 {margin-bottom:4rem;}
.mb-5 {margin-bottom:5rem;}
.mb-6 {margin-bottom:6rem;}
.mb-7 {margin-bottom:7rem;}
.mt--1 {margin-top:-1rem;}
.mt--2 {margin-top:-2rem;}
.mt--3 {margin-top:-3rem;}
.mt--4 {margin-top:-4rem;}
.mt--5 {margin-top:-5rem;}
.mt--6 {margin-top:-6rem;}
.mt--7 {margin-top:-7rem;}
.mt--8 {margin-top:-8rem;}
.ma-2 {margin:2rem auto;}
.ma-3 {margin:3rem auto;}
.ma-4 {margin:4rem auto;}
.ma-5 {margin:5rem auto;}
.ma-6 {margin:6rem auto;}
.ma-7 {margin:7rem auto;}
.btn, button, input[type=button], a.btn {width:auto;}
.flex-container {display: flex;}
/*.flex-gap1 > .resp-grid1-4 {width:calc(25% - 1%);}
.flex-gap1 > .resp-grid1-3 {width:calc(33.3333% - 1%);}
.flex-gap1 > .resp-grid1-2 {width:calc(50% - 1%);}
.flex-gap2 > .resp-grid1-4 {width:calc(25% - 2%);}
.flex-gap2 > .resp-grid1-3 {width:calc(33.3333% - 2%);}
.flex-gap2 > .resp-grid1-2 {width:calc(50% - 2%);}
.flex-gap3 > .resp-grid1-4 {width:calc(25% - 3%);}
.flex-gap3 > .resp-grid1-3 {width:calc(33.3333% - 3%);}
.flex-gap3 > .resp-grid1-2 {width:calc(50% - 3%);}*/
header nav {width:auto;}
.menu-trigger {display: none;}
nav {position: relative; height: auto; width:auto; top:auto; right:auto; float:right; padding:0; background:none;}
nav ul li {display: inline-block;}
nav.robonster-nav {right:auto;}
nav.robonster-nav.active {right:0;}
nav ul li a {width:auto; padding:1.25rem 2rem;}
nav a {font-size: 1rem;}
#logo a {margin:1rem 0 0;}
.fit {position: relative;}
.accordion-icon {top:2.25rem;}
#site-name {display: inline-block;}
.hero-info {position:absolute; padding:2rem;top: 20%; left:5%;}
.full-bg--text {position: absolute; left:20%; top:10%; width:60%; z-index: 100;}
}

/* 1024PX - 1199PX */
@media all and (min-width:1024px) {
::-moz-selection {background:var(--dark-teal); color:#FFF;}
::selection {background:var(--dark-teal); color:#FFF;}
.wrapper {max-width:60%;}
.wrapper.wrapper--60 {max-width:60%}
.wrapper.wrapper--65 {max-width:65%}
.wrapper.wrapper--70 {max-width:70%}
.wrapper.wrapper--75 {max-width:75%}
.wrapper.wrapper--80 {max-width:80%}
.wrapper.wrapper--85 {max-width:85%}
.wrapper.wrapper--90 {max-width:90%}
.wrapper.wrapper--95 {max-width:95%}
.dc-1 {line-height:4rem ;}
.dc-2 {line-height:4.5rem ;}
header nav {margin-right:2%;}
/*nav#cbp-hrmenu {margin:.0; -webkit-transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; transition:all ease-in-out .5s;}
.cbp-hrmenu {width:auto;}
#hero {max-height:700px;}
.video-container {height:700px;}
.hero-info {width:50%; left:0;}*/
.video-50 {padding-top:28.125% !important;}
.hideme {opacity:0; transition:none;}
.dc-2 {line-height: 3.5rem;}
.dc-3 {line-height: 4.5rem;}
.dc-4 {line-height: 5.5rem;}
.dc-5 {line-height: 6rem;}
.dc-6 {line-height: 6.5rem;}
.vh-100 {height:100vh;}
.vh-95  {height:95vh;}
.vh-90 {height:90vh;}
.vh-85  {height:85vh;}
.vh-80 {height:80vh;}
.vh-75  {height:75vh;}
.vh-70 {height:70vh;}
.vh-65  {height:65vh;}
.vh-60 {height:60vh;}
.vh-55  {height:55vh;}
.vh-50 {height:50vh;}
.vh-45  {height:45vh;}
.vh-40 {height:40vh;}
.vh-35  {height:35vh;}
.vh-30 {height:30vh;}
.vh-25  {height:25vh;}
.vh-20 {height:20vh;}
.vh-15  {height:15vh;}
.vh-10 {height:10vh;}
}

/* 1200PX - 1599PX */
@media all and (min-width:1200px) {
html, body {font-size: 17px;}
.close-overlay {padding:.45rem .95rem;}

}

/* 1600PX - 1799 */
@media all and (min-width:1600px) {
html, body {/*font-size:22px;*/}
/*.hero-info {top:5%;}*/
}

/* 1800PX + */
@media all and (min-width:1800px) {
.wrapper {max-width:55%;}
}

@media print {
body {color:#000; background:#FFF; font-size:14px;}
header, footer {display:none;}
div [class*='rob-grid1-'] {width:25%;}
}
